@use "../theme" as *;

.sidenav-container {
  height: 100vh;
}

.profile-section{
  background-color:$secondary;
}

.side-nav {
  width: 250px;
  background-color:$primary;
  border-radius: 0;
}

.mat-nav-list a {
  text-decoration: none;
  padding: 10px;
}

.company-header{
  display:flex;
}

.sidebar-link{
  transition: background-color 0.3s ease-in-out;
}

.sidebar-link:hover{
  background: $dark;
}