@use "../theme" as *;

.sidenav-container {
  height: 100vh;
}

.profile-section{
  background-color:$secondary;
}

.side-nav {
  width: 250px;
  background-color:$primary;
  border-radius: 0;
}

.mat-nav-list a {
  text-decoration: none;
  padding: 10px;
}

.content {
  padding: 20px;
}

.company-header{
  display:flex;
}

.profile-icon{
  font-size: 60px;
}

.side-expansion-panel{
  border-radius:0;
}

.side-expansion-panel mat-list{
  padding: 0;
}

::ng-deep {
  .side-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}

.sidebar-option{
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-sizing: content-box;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: var(--mat-expansion-container-background-color, var(--mat-sys-surface));
  color: var(--mat-expansion-container-text-color, var(--mat-sys-on-surface));     
}

.sidebar-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;
  height: var(--mat-expansion-header-collapsed-state-height, 48px);
  font-family: var(--mat-expansion-header-text-font, var(--mat-sys-title-medium-font));
  font-weight: var(--mat-expansion-header-text-weight, var(--mat-sys-title-medium-weight));
  line-height: var(--mat-expansion-header-text-line-height, var(--mat-sys-title-medium-line-height));
  letter-spacing: var(--mat-expansion-header-text-tracking, var(--mat-sys-title-medium-tracking));
  color: var(--mat-expansion-header-text-color, var(--mat-sys-on-surface));
}

.sidebar-link:hover{
  background: var(--mat-expansion-header-hover-state-layer-color, color-mix(in srgb, var(--mat-sys-on-surface) calc(var(--mat-sys-hover-state-layer-opacity) * 100%), transparent));
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.mat-list-item a {
  display: flex;
  align-items: center;
  color: inherit;
  gap: 8px;
  width: 100%;
}

.menu-link{
  display:flex;
  align-items:center;
  padding: 0 24px;
}

.side-expansion-panel mat-list mat-list-item {
  background-color: $primary;
  border-radius: 0 !important;
}

.side-expansion-panel mat-list mat-list-item:hover{
  background-color: $dark;
}