<div class="p-4 pt-3">
  <div class="d-flex align-items-center gap-3">
    <h3 class="fs-5 fw-bold text-primary mb-0">My Profile</h3>
  </div>

  <mat-card appearance="raised">
    <mat-card-content class="p-4">
      <div class="d-flex flex-column flex-lg-row">
        <div class="info-div p-2 p-lg-5 w-100 mb-3">
          <h4 class="fs-6 fw-bold mb-2">User Information</h4>
          <div class="px-0 px-md-5 view-details mt-4">
            <div class="d-flex">
              <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
                <p>User Name</p>
              </div>
              <div class="fs-7 fw-semibold text-break text-wrap">
                <p>{{ userData.name ? userData.name : 'N/A' }}</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
                <p>Email</p>
              </div>
              <div class="fs-7 fw-semibold text-break text-wrap">
                <p>{{ userData.email ? userData.email : 'N/A' }}</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
                <p>Created At</p>
              </div>
              <div class="fs-7 fw-semibold text-break text-wrap">
                <p>{{ userData.created_at | dateFormat }}</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
                <p>Updated At</p>
              </div>
              <div class="fs-7 fw-semibold text-break text-wrap">
                <p>{{ userData.updated_at | dateFormat }}</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
                <p>Role</p>
              </div>
              <div class="fs-7 fw-semibold text-break text-wrap">
                <p>{{ userData.role?.name ? userData.role.name : 'N/A' }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-div p-2 p-lg-5 w-100">
          <div class="user-info-section mb-5">
            <h4 class="fs-6 fw-bold mb-2 mb-4">Update User</h4>
            <form [formGroup]="userInfoForm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="fs-7">Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="fs-7">Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
              <button mat-flat-button color="primary" (click)="updateUserInfo()" [disabled]="userInfoForm.invalid">
                Save Changes
              </button>
            </form>
          </div>

          <div class="pt-3 update-password-section">
            <h4 class="fs-6 fw-bold mb-4">Change Password</h4>
            <form [formGroup]="passwordForm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label class="fs-7">Current Password</mat-label>
                <input matInput type="password" formControlName="current_password" required />
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label class="fs-7">New Password</mat-label>
                <input matInput type="password" formControlName="password" required />
                <mat-hint>Must be at least 6 characters</mat-hint>
              </mat-form-field>
          
              <mat-form-field appearance="outline" class="w-100 mb-2">
                <mat-label class="fs-7">Confirm New Password</mat-label>
                <input matInput type="password" formControlName="password_confirmation" required />
                <mat-hint>Must match with New Password</mat-hint>
              </mat-form-field>
          
              <button mat-flat-button color="accent" (click)="updatePassword()" [disabled]="passwordForm.invalid">
                Update Password
              </button>
            </form>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>