<h2 mat-dialog-title class="fs-5 fw-bold text-primary mb-0">{{ dialogTitle }}</h2>

<mat-dialog-content class="dialog-content pt-2">
  <ng-container *ngIf="!isViewMode; else viewTemplate">
    <form [formGroup]="userForm">
      <ng-container *ngIf="!isEditPasswordMode; else passwordTemplate">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="fs-7">Name</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="fs-7">Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="fs-7">Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="data.mode === 'add'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="fs-7">Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            <mat-hint>Password must be at least 6 characters.</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label class="fs-7">Confirm Password</mat-label>
            <input matInput type="password" formControlName="password_confirmation" required />
            <mat-hint>Password and Confirm Password fields must match.</mat-hint>
          </mat-form-field>
        </ng-container>
      </ng-container>

      <ng-template #passwordTemplate>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="fs-7">Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-hint>Password must be at least 6 characters.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="fs-7">Confirm Password</mat-label>
          <mat-hint>Password and Confirm Password fields must match.</mat-hint>
          <input matInput type="password" formControlName="password_confirmation" required />
        </mat-form-field>
      </ng-template>
    </form>
  </ng-container>

  <ng-template #viewTemplate>
    <div class="px-4 view-details">
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>User ID</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.id ? data.userData.id : 'N/A' }}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>User Name</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.name ? data.userData.name : 'N/A' }}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>Email</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.email ? data.userData.email : 'N/A' }}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>Created At</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.created_at ? data.userData.created_at : 'N/A' }}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>Updated At</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.updated_at ? data.userData.updated_at : 'N/A' }}</p>
        </div>
      </div>
      <div class="d-flex">
        <div class="me-4 text-end flex-shrink-0 fs-7 label-div">
          <p>Role</p>
        </div>
        <div class="fs-7 fw-semibold text-break text-wrap">
          <p>{{ data.userData.role ? data.userData.role : 'N/A' }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button *ngIf="!isViewMode" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="userForm.invalid">
    {{ isEditMode ? 'Save' : 'Add' }}
  </button>
</mat-dialog-actions>