@use '../../../theme' as *;
@use '@angular/material' as mat;

.login-page{
  background-color: $primary;
  background-image: linear-gradient(to bottom right, 
                                  #23c1e8 0%, 
                                  #23c1e8 15%, 
                                  #2C539E 40%, 
                                  #2C539E 60%, 
                                  #23c1e8 85%, 
                                  #23c1e8 100%);

}

.login-card{
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 35%;
  min-width:350px;
}

.login-field {
  @include mat.form-field-overrides((outlined-outline-color: $dark));
}