@use '@angular/material' as mat;
@use 'theme' as *;
@import "bootstrap/scss/bootstrap";

:root {
  @include mat.theme((
      typography: Inter));
  @include mat.expansion-overrides((
    container-background-color: $primary, 
    header-expanded-state-height:48px,
    header-text-color:$white, 
    header-indicator-color:$white,
    header-hover-state-layer-color: $dark));
  @include mat.table-overrides((
    row-item-container-height: 85px,
    row-item-outline-color:$gray, 
    background-color: $white, 
    header-headline-color: $primary, 
    header-headline-weight:700));
  @include mat.paginator-overrides((
    container-background-color: $white));
  @include mat.card-overrides((
    elevated-container-color: $white));
  @include mat.form-field-density(-5);
  @include mat.sidenav-overrides((
    content-background-color: $light-gray));
  @include mat.form-field-overrides((
    outlined-outline-color: $gray));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $light-gray;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $gray $light-gray;
}

a{
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: 'Manrope', sans-serif;
}

.fs-7 {
  font-size: 0.875rem;
}

.form-control:focus {
  background-color: transparent;
  box-shadow: none;
}

mat-card-content {
  overflow-x:auto;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  min-width: 200px;
}

.delete-button{
  @include mat.button-overrides((filled-container-color: $danger));
}



  
