@use '@angular/material' as mat;
@use 'theme' as *;
@import "bootstrap/scss/bootstrap";

:root {
  @include mat.theme((
      typography: Inter));
  @include mat.expansion-overrides((
    container-background-color: $primary, 
    header-expanded-state-height:48px,
    header-text-color:$white, 
    header-indicator-color:$white,
    header-hover-state-layer-color: $dark));
  @include mat.table-overrides((
    row-item-outline-color:$gray, 
    background-color: $white, 
    header-headline-color: $primary, 
    header-headline-weight:700));
  @include mat.paginator-overrides((
    container-background-color: $white));
  @include mat.card-overrides((
    elevated-container-color: $white));
  @include mat.form-field-density(-5);
  @include mat.sidenav-overrides((
    content-background-color: $light-gray));
  @include mat.form-field-overrides((
    outlined-outline-color: $gray));
}

.fs-7{
  font-size:0.875rem;
}

.form-control:focus{
  background-color: transparent;
  box-shadow:none;
}

a{
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: 'Manrope', sans-serif;
}



  
