<div class="container mt-4">
  <h2 class="mb-3">IP Address List</h2>

  <mat-table [dataSource]="ipAddresses" class="mat-elevation-z8">
    <!-- Column: ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let ip"> {{ ip.id }} </mat-cell>
    </ng-container>

    <!-- Column: IP Address -->
    <ng-container matColumnDef="ipAddress">
      <mat-header-cell *matHeaderCellDef> IP Address </mat-header-cell>
      <mat-cell *matCellDef="let ip"> {{ ip.ipAddress }} </mat-cell>
    </ng-container>

    <!-- Column: Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let ip">
        <button mat-icon-button (click)="editIp(ip)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteIp(ip.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>